@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --roxo: #5f0f40ff;
    --vermelho: rgb(88, 9, 23);
    --amarelo: rgb(251, 219, 36);
    --laranja: #e36414ff;
    --azul: rgb(34, 126, 149);
    --preto: rgb(0, 0, 0);
    --fonte-titulo: "New Amsterdam", sans-serif;
    --fonte-texto: "Roboto Slab", serif;
}

body {
    background-color: var(--azul);
    font-family: var(--fonte-texto);
    color: var(--preto);
    height: 100vh; 
}

header {
    background-color: var(--amarelo);
    text-align: center;
}

h1 {
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    color: var(--roxo);
    padding: 1.5rem 0;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: var(--vermelho);
    font-size: 2rem;
    margin: 0 2rem 1rem 0;
}

nav a:hover {
    text-decoration: underline;
    color: var(--vermelho);
    transform: scale(0.9);
    transition: transform 0.3s;
}
.caixa-grafico {
    margin: 5rem;
    padding: 2rem;
    border: 2px solid #4CAF50; 
    border-radius: 10px; 
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.caixa-grafico__texto {
    font-size: 1.2rem; 
    color: #333; 
    line-height: 1.5; 
}

.caixa-grafico__titulo {
    font-size: 1.5rem; 
    font-weight: bold;
    color: #4CAF50; 
    margin-bottom: 1rem; 
}



footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--roxo);
    color: var(--laranja);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    font-size: 1.8rem; 
}